pyaes==1.6.1
pysocks==1.7.1
#
aiohttp==3.8.4
beautifulsoup4==4.12.2
omegaconf
ujson
python-magic==0.4.27
requests==2.30.0

pyrogram==2.0.106
tgcrypto==1.2.5
uvloop==0.17.0

#
django==4.2.1
django-admin==2.0.2
django-extensions==3.2.1
django-debug-toolbar==4.1.0
django-debugger==0.6
psycopg2==2.9.6
django-admin-countless==0.4.0

#spb
selenium==4.9.1
feedgen==0.9.0
websockets==11.0.3
aresponses==2.1.6
responses==0.23.1
dnspython==2.3.0
aiosocksy==0.1.2
aiohttp-socks==0.8.0
lxml==4.9.2
